@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 120px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #ffffff;
  --text-dark-color: #34364a;
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 14px;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  /* background-color: var(--white-color); */
  z-index: var(--z-fixed);
  
}
.header_toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: calc(var(--nav-width) - 52px);
  height: 100vh;
  background-color: var(--white-color);
  padding: 0.5rem 1rem 0 0;
  
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.l-navbar.show .nav_list,
.nav_link.bottom-menu {
  margin-left: 1rem;
}
.nav_logo {
  margin-bottom: 5rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--text-dark-color);
}
.nav_logo-name {
  color: var(--text-dark-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--text-dark-color);
  margin-bottom: 1.5rem;
}
.nav_link:hover {
  color: #ff521d;
}
.nav_link.active:hover {
  color: var(--white-color);
  background-color: #d83f11;
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
  width: calc(var(--nav-width) + 156px);
}
.nav_link.active {
  color: #ffffff;
  background-color: #ff521d;
  border-radius: 20px;
  padding-top: 15px !important;
  padding-bottom: 14px !important;
}
.l-navbar.show .nav_list.active {
  margin-left: 20px;
  
}
.height-100 {
  height: 100vh;
}
.nav_link.bottom-menu{
  color: #ffffff;
  background-color: #FD3838;
  border-radius: 20px;
  padding-top: 15px !important;
  padding-bottom: 14px !important;
}
.small-logo{
  display: none;
}
.user-information-wrapper{
  background: #3E3CB0;
  border-radius: 20px;
  color: #FFFFFF; 
  padding: 15px; 
  margin-top: 5px;
  margin-right: -15px;
}
.user-information span{
  font-size: 12px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width));
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) - 1rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  #nav-bar {
    margin: 30px;
    max-height: 92vh;
    height: 92vh;
  }
  .header {
    margin-top: 30px;
  }
  .header_toggle {
    margin-left: 15px;
  }
  .header_toggle i {
    display: none !important;
  }
  .l-navbar {
    border-radius: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .nav_link span,
  .nav_logo span {
    display: none !important;
  }
  .l-navbar {
    padding: 1rem 0 0 0 !important;
  }
  .nav_list a {
    width: 60px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  .nav_link.bottom-menu{
    margin-left: 0px !important;
    width: 60px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .small-logo{
    display: block;
  }
  .big-logo{
    display: none;
  }
  .l-navbar.show .nav_list,
  .nav_link.bottom-menu {
    margin-left: 0 !important;
  }
  .show{
    width: calc(var(--nav-width) - 52px);
  }
}
@media screen and (max-width: 768px) {
  .nav_list {
    margin-left: 0px !important;
  }
  .body-pd{
    padding-left: 1rem;
  }
  .header.body-pd{
    padding-left: calc(var(--nav-width) - 2rem);
  }
  body{
    margin: calc(var(--header-height) + 40px) 0 0 0 !important;
  }
  .l-navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 50px;
    transition: 0.3s;
  }
  .user-information-wrapper{
    transform: scale(0.6);
    margin-right: -55px !important;
  }
  #header{
    background: #282689;
    height: 75px;
  }
}